<h1>Tareas</h1>

<%= link_to 'New Task', new_task_path, class: "button" %>

<% @tasks.each do |task| %>
  <div class="panel">

    <p><%= task.name %></p>
    <p>
      <strong><%= task.user.name + " " + task.user.lastname %></strong>,

    </p>
    <p><%= if task.status == "1"
        "Terminado"
        else
          "No Terminado"
        end %>
    </p>
  </div>
<% end %>

